
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../Content/images/background/ab1.jpg)">
    <div class="auto-container">
        
        <ul class="bread-crumb">
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Home/AboutUs">About Us</a></li>
        </ul>
    </div>
    <!--Go Down Button-->
    <div class="go-down">
        <div class="curve scroll-to-target" data-target="#about-section"><span class="icon fa fa-arrow-down"></span></div>
    </div>
</section>


<!--About Section-->
<section class="about-section" id="about-section">
    <!--Desc Box-->
    <div class="desc-box">
        <div class="auto-container">
            <div class="sec-title no-underline">
                <h3>SRIRASTU WEDDING HISTORY</h3>
                <h2>EVERYTHING BEGAN IN A GARAGE</h2>
                  </div>
        </div>
    </div>

    <!--Lower Content-->
    <div class="lower-content" style="background-image:url(../Content/images/background/1.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <div class="row clearfix">
                    <!--Column-->
                    <div class="col-md-7  col-sm-7 col-xs-12 column">
                        <h2 class="main-title">Our Stories</h2>
                        <h3>Back in 2016</h3>
                        <p>Event managers plan and organise promotional, business and social events. ... You'll manage the whole process from the planning stage, right through to running the event and carrying out the post-event evaluation. The role is primarily hands-on and often involves working as part of a team.</p>
                        <h3>The tipping point</h3>
                        <p>
                            Event management is the application of project management to the creation and development of large-scale events such as festivals, conferences, ceremonies, weddings, formal parties, concerts, or conventions.
                        </p>
                        <p>
                            We are your best-experienced event management services in Hyderabad; we know the nook and breadth of our city to provide exquisite locations to herald your events, making them more memorable Team KMK is trained to handle all the pressure from its inception till the end.

                        </p>
                        <ul class="styled-list">
                            <li>Wedding Event</li>
                            <li>BirthDay Event</li>
                            <li>Engagement Event</li>
                            <li>House Warming Event</li>
                            
                        </ul>
                        <p>an exponentially evolving event management company in Hyderabad which will provide best in class services for planning, organising and implementing events and sales promotions of all natures to establish ourselves as the premier brand in event planning and execution. But with us you can be sure of commitments being met and on time delivery of all services. We rather under promise and over deliver to ensure your satisfaction.</p>
                            </div>
                    <!--Column-->
                    <div class="col-md-5  col-sm-5 col-xs-12 column">
                        <article class="featured-box">
                            <figure class="image"><a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/featured-image-5.jpg")' alt=""></a></figure>
                            <h2>Our Missions</h2>
                            <div class="text">
                                <p>
                                    Our mission is to provide only entertainment keeping the audience completely glued-in, captivated and connected, bringing you the most elaborate and end-to-end services at your disposal. KMK has executed all its services with remarkable precision, achieving optimal impact leaving a long lasting impression.
                                </p></div>
                           
                        </article>
                        <article class="featured-box">
                            <figure class="image"><a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/featured-image-6.jpg")' alt=""></a></figure>
                            <h2>Our Vision and Plan</h2>
                            <div class="text">
                                <p>Our vision is to make KMK India’s leading entertainment industry synonymous with excellent planning following perfect execution with an unique service . We at KMK, believe that every special occasion of life truly deserves to be celebrated in the most special way.</p></div>
                           
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<<section class="fact-counter">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                <div class="count-outer"><span class="count-text" data-speed="700" data-stop="500">0</span></div>
                <div class="line"></div>
                <h4 class="counter-title">SUCCESSFULL PROJECT</h4>
            </article>
            <!--Column-->
            <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                <div class="count-outer"><span class="count-text" data-speed="2000" data-stop="5000">0</span></div>
                <div class="line"></div>
                <h4 class="counter-title">HAPPY PEOPLE</h4>
            </article>
            <!--Column-->
            <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                <div class="count-outer"><span class="count-text" data-speed="500" data-stop="16">0</span></div>
                <div class="line"></div>
                <h4 class="counter-title">AWARD WINNING</h4>
            </article>
            <!--Column-->
            <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                <div class="count-outer"><span class="count-text" data-speed="1200" data-stop="20">0</span></div>
                <div class="line"></div>
                <h4 class="counter-title">RUNNING PROJECT</h4>
            </article>
        </div>
    </div>
</section>
<script src='@Url.Content("~/Content/js/jquery.js")'></script>
<script src='@Url.Content("~/Content/js/bootstrap.min.js")'></script>
<script src='@Url.Content("~/Content/js/revolution.min.js")'></script>
<script src='@Url.Content("~/Contentjs/js-collection.js")'></script>

<script src='@Url.Content("~/Content/js/flipclock.js")'></script>
<script src='@Url.Content("~/Content/js/jquery-ui.min.js")'></script>
<script src='@Url.Content("~/Content/js/script.js")'></script>