
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Static Banner Parallax Background-->
<section class="main-slider default-banner">
    <!--Carousel-->
    <!-- Static Banner Parallax Background-->
    <section class="main-slider default-banner">
        <!--Carousel-->
        <div id="default-slider" class="carousel" data-ride="carousel" data-interval="7000" data-pause="false" data-wrap="true">
            <div class="carousel-inner" role="listbox">
                <!--Slide Item-->
                <div class="item window-size active" style="background-image:url(../Content/images/main-slider/ban1.jpg)">
                    <div class="auto-container">
                        <div class="box-inner">
                            <div class="big-title"><h2>WE PROVIDE THE BEST EVENTS</h2></div>
                            <h4 class="text-white font-24"></h4>
                           
                            <div class="links-box"><a href="/Services/AllService" class="default-btn theme-btn">Our Services</a> &ensp; 
                            <a href="/Home/RSPVForm" class="default-btn style-two theme-btn">Get Free Quote</a></div>
                        </div>
                    </div>
                </div>
                <!--Slide Item-->
                <div class="item window-size" style="background-image:url(../Content/images/main-slider/ban22.jpg)">
                    <div class="auto-container">
                        <div class="box-inner">
                            <div class="big-title"><h2>Srirastu Wedding Event Organisers</h2></div>
                            
                            <div class="links-box"><a href="/Services/AllService" class="default-btn theme-btn">Our Services</a> &ensp;
                            <a href="/Home/RSPVForm" class="default-btn style-two theme-btn">Get Free Quote</a></div>
                        </div>
                    </div>
                </div>
                <!--Slide Item-->
                <div class="item window-size" style="background-image:url(../Content/images/main-slider/ban3.jpg)">
                    <div class="auto-container">
                        <div class="box-inner">
                            <div class="big-title"><h2>Srirastu Wedding Reception</h2></div>
                            
                            <div class="links-box"><a href="/Services/AllService" class="default-btn theme-btn">Our Services</a> &ensp;
                            <a href="/Home/RSPVForm" class="default-btn style-two theme-btn">Get Free Quote</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</section>


<!--Featured Three Column-->
<div class="sec-title text-center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="font-sacramento text-thm">Welcome to Srirastu Event </h1>
            <h3>We Imagine What You Desire & We Create What You Need</h3>
            <div class="mb-30 mt-15"> <img class="img-responsive" src='@Url.Content("~/Content/images/title-bottom.png")' alt=""></div>
        </div>
    </div>
</div>

<section class="featured-three-column style-two">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <div class="col-md-4 col-sm-6 col-xs-12 column wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                <article class="inner-box">
                    <figure class="image">
                        <a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/plan1.jpg")' alt=""></a>
                        <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                    </figure>
                    <div class="content pt-10">
                        <h3>Marriage Event</h3>
                        <div class="text text-white">
                            <p>We recognize that every wedding is an individual and unique affair. Our wedding planner team assures complete execution starting from event.</p>
                        </div>
                        <div class="link">
                            <a href="/Events/Wedding" class="read-more normal-btn theme-btn"><span class="fa fa-caret-right"></span> MORE INFO</a>
                        </div>
                    </div>
                </article>
            </div>
            <!--Column-->
            <div class="col-md-4 col-sm-6 col-xs-12 column wow fadeInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
                <article class="inner-box">
                    <figure class="image">
                        <a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/plan2.jpg")' alt=""></a>
                        <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                    </figure>
                    <div class="content pt-10">
                        <h3>Engagement Event</h3>
                        <div class="text text-white">
                            <p>Engagement meaning the coming together of two individual souls in a wedding; with their individual fate and destinies married to the timeless mysteries.</p>
                        </div>
                        <div class="link">
                            <a class="thm-btn inverse font-14" href="/Events/Engagement"><i class="fa fa-caret-right"></i> MORE INFO</a>
                        </div>
                    </div>
                </article>
            </div>
            <!--Column-->
            <div class="col-md-4 col-sm-6 col-xs-12 column wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                <article class="inner-box">
                    <figure class="image">
                        <a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/plan3.jpg")' alt=""></a>
                        <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                    </figure>
                    <div class="content pt-10">
                        <h3>Birth Day Event</h3>
                        <div class="text text-white">
                            <p>We have special packages for first birthday parties for children all inclusive of a magic show and entertainment for children of all ages.</p>
                        </div>
                        <div class="link">
                            <a href="/Events/BirthDay" class="read-more normal-btn theme-btn"><span class="fa fa-caret-right"></span> MORE INFO</a>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>
</section>
<section class="featured-three-column style-two">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <div class="col-md-4 col-sm-6 col-xs-12 column wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                <article class="inner-box">
                    <figure class="image">
                        <a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/plan4.jpg")' alt=""></a>
                        <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                    </figure>
                    <div class="content pt-10">
                        <h3>Gruha Pravesam</h3>
                        <div class="text text-white">
                            <p>
                                The event is organised with an intent to spread the importance of Sanathana Dharma in Hindu philosophy
                                we are extremely pleased to announce.
                            </p>
                        </div>
                        <div class="link">
                            <a href="/Events/HouseWarming" class="read-more normal-btn theme-btn"><span class="fa fa-caret-right"></span> MORE INFO</a>
                        </div>
                    </div>
                </article>
            </div>
            <!--Column-->
            <div class="col-md-4 col-sm-6 col-xs-12 column wow fadeInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
                <article class="inner-box">
                    <figure class="image">
                        <a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/plan5.jpg")' alt=""></a>
                        <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                    </figure>
                    <div class="content pt-10">
                        <h3>Upanayanam</h3>
                        <div class="text text-white">
                            <p>Upanayanam is a Sacrament having layers of philosophical, Spiritual, Scientific and Deeper Meanings. 
                            The Sacrament is aimed at Initiation into the LIGHT or TRUTH. </p>
                        </div>
                        <div class="link">
                            <a class="thm-btn inverse font-14" href="/Events/Upanayanam"><i class="fa fa-caret-right"></i> MORE INFO</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 column wow fadeInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
                <article class="inner-box">
                    <figure class="image">
                        <a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/plan6.jpg")' alt=""></a>
                        <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                    </figure>
                    <div class="content pt-10">
                        <h3>Anniversary</h3>
                        <div class="text text-white">
                            <p>Arrangement from arrival of guests to their departure at the end of the event is taken care of by organizing excellent conveyance services.</p>
                        </div>
                        <div class="link">
                            <a class="thm-btn inverse font-14" href="/Events/Anniversary"><i class="fa fa-caret-right"></i> MORE INFO</a>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>
</section>


<!--Start Our Department Areas-->



<section class="pt-60">
    <div class="container-fluid pb-35">
        <div class="sec-title text-center">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="font-sacramento text-thm">OUR SERVICE</h2>
                    <p>As Event Organizers, our services include offered both collectively and as separate units that a client can pick and choose from.</p>
                    <div class="mb-30 mt-15"> <img class="img-responsive" src='@Url.Content("~/Content/images/title-bottom.png")' alt=""></div>
                </div>
            </div>
        </div>
        <div class="sec-content mt-50">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/111.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-roses-bouquet"></i>
                            <h4 class="title">Function Hall</h4>
                            <p class="details pt-5">We provide for all events and occasions like Weddings, Birthday Parties, picnic food, corporate events, seminars, workshops etc. We put our full efforts to achieve great taste & aroma in every cuisine we prepare. We use fresh and high quality ingredients.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/222.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-wedding-cake-3"></i>
                            <h4 class="title">Birth Day Cakes Design</h4>
                            <p class="details pt-5">Arrangement from arrival of guests to their departure at the end of the event is taken care of by organizing excellent conveyance services and booking accommodation at the best hotels/guest houses etc that are not only the best in industry but will also suit your pocket.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/333.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-knife-fork-and-plate"></i>
                            <h4 class="title">Catering</h4>
                            <p class="details pt-5">
                                We provide catering for all events and occasions like Weddings, Birthday Parties, picnic food, corporate events, seminars, workshops etc.

                                We put our full efforts to achieve great taste & aroma in every cuisine we prepare. We use fresh and high quality ingredients.
                            </p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/444.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-curtains"></i>
                            <h4 class="title">Decoration</h4>
                            <p class="details pt-5">producing high-quality methods of every type and scale. Our passion is managing behind-the-scenes to deliver a superior event experience for your audience. We thrive on delighting you as valued customer by for all events that meets or exceeds by reaching your goals.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/555.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-wedding-video"></i>
                            <h4 class="title">Photos & Videos</h4>
                            <p class="details pt-5">Our professional photographers take very little time to gel with clients and their close ones. We love to work in an informal and unobtrusive way so that we get the opportunity to click the natural expression and emotions around.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/666.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-balloons-3"></i>
                            <h4 class="title">Entertainmeint</h4>
                            <p class="details pt-5">As per your aspirations and specifications, we organise the Entertainment – from Stars, Singers, Stand-up Comedians, DJ,s, Bartenders, Live Bands, Mehendi Artists, Make-up, Hairstyles, Choreographer, Conveyance, Dance Troupes and Much More.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/777.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-wedding-car"></i>
                            <h4 class="title">Venues and Locations</h4>
                            <p class="details pt-5">Gear up for a holiday of a lifetime. Make every moment of such abandon count. Choose to go on a holy pilgrimage to discover your spiritual self. Or on a holiday spree, to live your wildest dreams…Be it a national or an international destination.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/888.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-wedding-invitation-3"></i>
                            <h4 class="title">Web Site Invitation</h4>
                            <p class="details pt-5">As per your aspirations and specifications, we organise the Entertainment – from Stars, Singers, Stand-up Comedians, DJ,s, Bartenders, Live Bands, Mehendi Artists, Make-up, Hairstyles, Choreographer, Conveyance, Dance Troupes and Much More.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why-us-section">

    <div class="bg-grey"></div>
    <div class="bg-image" style="background-image :url(../Content/images/background/bg44.jpg)"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-6 col-xs-12 content-column">
                <article class="inner-box">
                    <div class="sec-title style-two style-three">
                        <h3 class="text-left text-white">Why choose us?</h3>
                        <h2 class="text-left text-white">The reasons that you should contact us</h2>
                        <div class="line"></div>
                    </div>
                    <div class="block">
                        <div class="number wow rollIn" data-wow-delay="0ms" data-wow-duration="1500ms">1</div>
                        <h4>Over 20 years of experience</h4>
                        
                    </div>
                    <div class="block">
                        <div class="number wow rollIn" data-wow-delay="300ms" data-wow-duration="1500ms">2</div>
                        <h4>We have expert's and Guaranteed Work.</h4>
                        
                    </div>
                    <div class="block">
                        <div class="number wow rollIn" data-wow-delay="600ms" data-wow-duration="1500ms">3</div>
                        <h4>We are improving everyday</h4>
                       
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!--end  Coose Section-->
<!--start Fact-->
<section class="fact-counter">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                <div class="count-outer"><span class="count-text" data-speed="700" data-stop="500">0</span></div>
                <div class="line"></div>
                <h4 class="counter-title">SUCCESSFULL PROJECT</h4>
            </article>
            <!--Column-->
            <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                <div class="count-outer"><span class="count-text" data-speed="2000" data-stop="5000">0</span></div>
                <div class="line"></div>
                <h4 class="counter-title">HAPPY PEOPLE</h4>
            </article>
            <!--Column-->
            <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                <div class="count-outer"><span class="count-text" data-speed="500" data-stop="16">0</span></div>
                <div class="line"></div>
                <h4 class="counter-title">AWARD WINNING</h4>
            </article>
            <!--Column-->
            <article class="col-md-3 col-sm-6 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                <div class="count-outer"><span class="count-text" data-speed="1200" data-stop="20">0</span></div>
                <div class="line"></div>
                <h4 class="counter-title">RUNNING PROJECT</h4>
            </article>
        </div>
    </div>
</section>
<!--end Fact-->
<br />
<!--Gallery Section-->
<section class="gallery-section parallax" data-bg-img="../Content/images/parallax/image-1.jpg" style="background-image: url(&quot;images/parallax/image-1.jpg&quot;); background-position: 30% 57px;">
    <div class="container-fluid">
        <div class="sec-title style-two">
            <h2 class="text-white">WE OFFER YOU THE BEST SUPPORT</h2>
            <h3 class="text-white">OUR PHOTO GALLERY</h3>
            <div class="line"></div>
        </div>
        <div class="sec-content mt-50">
            <div class="row clearfix">

                <!--Column-->
                <div class="col-md-3 col-sm-4 col-xs-12 column wow fadeIn animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeIn;">
                    <figure class="image mr-5">
                        <a href='@Url.Content("~/Content/images/resource/gho3.jpg")' class="lightbox-image">
                            <img class="img-responsive" src='@Url.Content("~/Content/images/resource/gho3.jpg")' alt="">
                        </a>
                        <div class="overlay-box">
                            <a href='@Url.Content("~/Content/images/resource/gho3.jpg")' class="link lightbox-image" title="Gallery Photos">
                                <span class="txt font-30"><i class="fa fa-camera"></i></span>
                            </a>
                        </div>
                    </figure>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12 column wow fadeIn animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeIn;">
                    <figure class="image mr-5">
                        <a href='@Url.Content("~/Content/images/resource/gp1.jpg")' class="lightbox-image">
                            <img class="img-responsive" src='@Url.Content("~/Content/images/resource/gp1.jpg")' alt="">
                        </a>
                        <div class="overlay-box"><a href='@Url.Content("~/Content/images/resource/gp1.jpg")' class="link lightbox-image" title="Gallery Photos"><span class="txt font-30"><i class="fa fa-camera"></i></span></a></div>
                    </figure>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12 column wow fadeIn animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeIn;">
                    <figure class="image mr-5">
                        <a href='@Url.Content("~/Content/images/resource/gw3.jpg")' class="lightbox-image">
                            <img class="img-responsive" src='@Url.Content("~/Content/images/resource/gw3.jpg")' alt="">
                        </a>
                        <div class="overlay-box"><a href='@Url.Content("~/Content/images/resource/gw3.jpg")' class="link lightbox-image" title="Gallery Photos"><span class="txt font-30"><i class="fa fa-camera"></i></span></a></div>
                    </figure>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12 column wow fadeIn animated" data-wow-delay="900ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 900ms; animation-name: fadeIn;">
                    <figure class="image mr-5">
                        <a href='@Url.Content("~/Content/images/resource/gb4.jpg")' class="lightbox-image">
                            <img class="img-responsive" src='@Url.Content("~/Content/images/resource/gb4.jpg")' alt="">
                        </a>
                        <div class="overlay-box">
                            <a href='@Url.Content("~/Content/images/resource/gb4.jpg")' class="link lightbox-image" title="Gallery Photos"><span class="txt font-30"><i class="fa fa-camera"></i></span></a>
                        </div>
                    </figure>
                </div>


            </div>
            
        </div>

        <br><br>
        <div class="link-box"><a href="/Home/Gallery" class="thm-btn btn-lg">View Gallery</a></div>
    </div>
</section>
<!--end Gallaery-->
<!--start Clients-->
<section class="default-two-column pb-20">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <div class="col-md-2>

            </div>
            <!--Column-->
            <div class="col-md-6 col-sm-6 col-xs-12 column">
                <div class="inner-box">
                    <div class="sec-title style-three">
                        <h3 class="text-left">What Say's Our Friend</h3>
                        <h2 class="text-left">Friends Wishes</h2>
                        <div class="line"></div>
                    </div>
                    <!--Testimonials Slider-->
                    <div class="testimonial-slider">
                        <div class="bx-wrapper" style="max-width: 100%;">
                            <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 260px;">
                                <div class="slider" style="width: auto; position: relative;">
                                    <article class="slide-item" style="float: none; list-style: none; position: absolute; width: 565px; z-index: 0; display: none;">
                                        <div class="slide-content">
                                            <p>“I am grateful for your true friendship For My Birthday. Hope you birthday is amazing as you are my best friend for each and evenry Event!”</p>
                                        </div>
                                        <div class="slide-info">
                                            <figure class="author-thumb img-circle">
                                                <a href="#">
                                                    <img class="img-circle" src='@Url.Content("~/Content/images/resource/author-thumb-2.jpg")' alt="">
                                                </a>
                                            </figure>
                                            <div class="author-info">
                                                <h5>Venkat</h5>
                                                <p>Madhapur</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="slide-item" style="float: none; list-style: none; position: absolute; width: 565px; z-index: 0; display: none;">
                                        <div class="slide-content">
                                            <p>“May the years ahead be filled with lasting joy.”</p>
                                        </div>
                                        <div class="slide-info">
                                            <figure class="author-thumb img-circle">
                                                <a href="#">
                                                    <img class="img-circle" src='@Url.Content("~/Content/images/resource/author-thumb-3.jpg")' alt="">
                                                </a>
                                            </figure>
                                            <div class="author-info">
                                                <h5>Srikanth</h5>
                                                <p>Hyderabad</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="slide-item" style="float: none; list-style: none; position: absolute; width: 565px; z-index: 50; display: block;">
                                        <div class="slide-content">
                                            <p>“Never look back unless you are planning on going that way”</p>
                                        </div>
                                        <div class="slide-info">
                                            <figure class="author-thumb img-circle">
                                                <a href="#">
                                                    <img class="img-circle" src='@Url.Content("~/Content/images/resource/author-thumb-2.jpg")' alt="">
                                                </a>
                                            </figure>
                                            <div class="author-info">
                                                <h5>keeran</h5>
                                                <p>Vijayawada</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="slide-item" style="float: none; list-style: none; position: absolute; width: 565px; z-index: 0; display: none;">
                                        <div class="slide-content">
                                            <p>“Perfection is not attainable, but if we chase perfection we can catch excellence.”</p>
                                        </div>
                                        <div class="slide-info">
                                            <figure class="author-thumb img-circle">
                                                <a href="#">
                                                    <img class="img-circle" src='@Url.Content("~/Content/images/resource/author-thumb-3.jpg")' alt="">
                                                </a>
                                            </figure>
                                            <div class="author-info">
                                                <h5>Sara Millin</h5>
                                                <p>Vizag</p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div><div class="bx-controls bx-has-pager"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div><div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link active">3</a></div><div class="bx-pager-item"><a href="" data-slide-index="3" class="bx-pager-link">4</a></div></div></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">

            </div>

        </div>
    </div>
</section>
<!--end Clients-->

<!--Blog Section-->
<section class="blog-section style-two">
    <div class="auto-container pt-60 pb-30">
        <div class="sec-title text-center">
            <h3>VISIT OUR LATEST POST</h3>
            <h2>DON'T MISS OUR BLOG</h2>
            <div class="mb-30 mt-20"> <img class="img-responsive" src='@Url.Content("~/Content/images/title-bottom.png")' alt=""></div>
        </div>
        <div class="row">
            <!--Post-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 blog-post wow fadeInRight" data-wow-delay="600ms" data-wow-duration="1500ms">
                <article class="inner-box p-xs-20">
                    <div class="image"><a href="blog-detail.html"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/blog1.jpg")' alt=""></a></div>
                    <div class="post-title"><h2><a href="/Events/Wedding">Wedding</a></h2></div>
                    <div class="post-info"><a href="/Events/Wedding"><span class="fa fa-user"></span>Varun Kumar</a> &ensp;&ensp; <a href="#">
                        <span class="fa fa-clock-o"></span>Dec 8, 2018</a></div>
                    <div class="post-desc"></div>
                    <div class="more-link"><a class="thm-btn btn-sm read-more text-black" href="/Home/Blog">READ MORE</a></div>
                </article>
            </div>
            <!--Post-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 blog-post wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                <article class="inner-box p-xs-20">
                    <div class="image"><a href="blog-detail.html"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/blog2.jpg")' alt=""></a></div>
                    <div class="post-title"><h2><a href="/Events/Engagement">Engagement</a></h2></div>
                    <div class="post-info"><a href="#"><span class="fa fa-user"></span>Keeran</a> &ensp;&ensp; <a href="#"><span class="fa fa-clock-o"></span>June 8, 2015</a></div>
                    <div class="post-desc"></div>
                    <div class="more-link"><a class="thm-btn btn-sm read-more text-black" href="/Home/Blog">READ MORE</a></div>
                </article>
            </div>
            <!--Post-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 blog-post wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <article class="inner-box p-xs-20">
                    <div class="image"><a href="blog-detail.html"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/blog3.jpg")' alt=""></a></div>
                    <div class="post-title"><h2><a href="/Events/BirthDay">BirthDay Party</a></h2></div>
                    <div class="post-info"><a href="/Events/BirthDay"><span class="fa fa-user"></span>Raghu</a> &ensp;&ensp; <a href="#"><span class="fa fa-clock-o"></span>sep 8, 2015</a></div>
                    <div class="post-desc"></div>
                    <div class="more-link"><a class="thm-btn btn-sm read-more text-black" href="/Home/Blog">READ MORE</a></div>
                </article>
            </div>
            <!--Post-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 blog-post wow fadeInRight" data-wow-delay="600ms" data-wow-duration="1500ms">
                <article class="inner-box p-xs-20">
                    <div class="image"><a href="blog-detail.html"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/blog4.jpg")' alt=""></a></div>
                    <div class="post-title"><h2><a href="/Events/Anniversary">Anniversary</a></h2></div>
                    <div class="post-info"><a href="#"><span class="fa fa-user"></span>Vindhyan</a> &ensp;&ensp; <a href="#"><span class="fa fa-clock-o"></span>may 8, 2015</a></div>
                    <div class="post-desc"></div>
                    <div class="more-link"><a class="thm-btn btn-sm read-more text-black" href="/Home/Blog">READ MORE</a></div>
                </article>
            </div>
        </div>
    </div>
</section>


<script src='@Url.Content("~/Content/js/jquery.js")'></script>
<script src='@Url.Content("~/Content/js/bootstrap.min.js")'></script>
<script src='@Url.Content("~/Content/js/js-collection.js")'></script>
<script src='@Url.Content("~/Content/js/flipclock.js")'></script>
<script src='@Url.Content("~/Content/js/jquery-ui.min.js")'></script>
<script src='@Url.Content("~/Content/js/script.js")'></script>