
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../Content/images/background/3.jpg)">
    <div class="auto-container">

        <ul class="bread-crumb">
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Events/AllEvents">AllEvents</a></li>
        </ul>

    </div>

    <!--Go Down Button-->
    <div class="go-down">
        <div class="curve scroll-to-target" data-target="#sidebar-section"><span class="icon fa fa-arrow-down"></span></div>
    </div>

</section>


<!--Featured Three Column-->
<div class="sec-title text-center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="font-sacramento text-thm">Welcome to Srirastu Services </h1>
            <h3>We Imagine What You Desire & We Create What You Need</h3>
            <div class="mb-30 mt-15"> <img class="img-responsive" src='@Url.Content("~/Content/images/title-bottom.png")' alt=""></div>
        </div>
    </div>
</div>
<section class="featured-three-column style-two">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <div class="col-md-4 col-sm-6 col-xs-12 column wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                <article class="inner-box">
                    <figure class="image">
                        <a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/plan1.jpg")' alt=""></a>
                        <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                    </figure>
                    <div class="content pt-10">
                        <h3>Marriage Event</h3>
                        <div class="text text-white">
                            <p>We recognize that every wedding is an individual and unique affair. Our wedding planner team assures complete execution starting from event.</p>
                        </div>
                        <div class="link">
                            <a href="/Events/Wedding" class="read-more normal-btn theme-btn"><span class="fa fa-caret-right"></span> MORE INFO</a>
                        </div>
                    </div>
                </article>
            </div>
            <!--Column-->
            <div class="col-md-4 col-sm-6 col-xs-12 column wow fadeInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
                <article class="inner-box">
                    <figure class="image">
                        <a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/plan2.jpg")' alt=""></a>
                        <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                    </figure>
                    <div class="content pt-10">
                        <h3>Engagement Event</h3>
                        <div class="text text-white">
                            <p>Engagement meaning the coming together of two individual souls in a wedding; with their individual fate and destinies married to the timeless mysteries.</p>
                        </div>
                        <div class="link">
                            <a class="thm-btn inverse font-14" href="/Events/Engagement"><i class="fa fa-caret-right"></i> MORE INFO</a>
                        </div>
                    </div>
                </article>
            </div>
            <!--Column-->
            <div class="col-md-4 col-sm-6 col-xs-12 column wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                <article class="inner-box">
                    <figure class="image">
                        <a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/plan3.jpg")' alt=""></a>
                        <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                    </figure>
                    <div class="content pt-10">
                        <h3>Birth Day Event</h3>
                        <div class="text text-white">
                            <p>We have special packages for first birthday parties for children all inclusive of a magic show and entertainment for children of all ages.</p>
                        </div>
                        <div class="link">
                            <a href="/Events/BirthDay" class="read-more normal-btn theme-btn"><span class="fa fa-caret-right"></span> MORE INFO</a>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>
</section>
<section class="featured-three-column style-two">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <div class="col-md-4 col-sm-6 col-xs-12 column wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                <article class="inner-box">
                    <figure class="image">
                        <a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/plan4.jpg")' alt=""></a>
                        <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                    </figure>
                    <div class="content pt-10">
                        <h3>Gruha Pravesam</h3>
                        <div class="text text-white">
                            <p>
                                The event is organised with an intent to spread the importance of Sanathana Dharma in Hindu philosophy
                                we are extremely pleased to announce.
                            </p>
                        </div>
                        <div class="link">
                            <a href="/Events/HouseWarming" class="read-more normal-btn theme-btn"><span class="fa fa-caret-right"></span> MORE INFO</a>
                        </div>
                    </div>
                </article>
            </div>
            <!--Column-->
            <div class="col-md-4 col-sm-6 col-xs-12 column wow fadeInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
                <article class="inner-box">
                    <figure class="image">
                        <a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/plan5.jpg")' alt=""></a>
                        <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                    </figure>
                    <div class="content pt-10">
                        <h3>Upanayanam</h3>
                        <div class="text text-white">
                            <p>
                                Upanayanam is a Sacrament having layers of philosophical, Spiritual, Scientific and Deeper Meanings.
                                The Sacrament is aimed at Initiation into the LIGHT or TRUTH.
                            </p>
                        </div>
                        <div class="link">
                            <a class="thm-btn inverse font-14" href="/Events/Upanayanam"><i class="fa fa-caret-right"></i> MORE INFO</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 column wow fadeInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
                <article class="inner-box">
                    <figure class="image">
                        <a href="#"><img class="img-responsive" src='@Url.Content("~/Content/images/resource/plan6.jpg")' alt=""></a>
                        <div class="overlay"><span class="left-curve"></span><span class="right-curve"></span><a href="#" class="overlay-link"></a></div>
                    </figure>
                    <div class="content pt-10">
                        <h3>Anniversary</h3>
                        <div class="text text-white">
                            <p>Arrangement from arrival of guests to their departure at the end of the event is taken care of by organizing excellent conveyance services.</p>
                        </div>
                        <div class="link">
                            <a class="thm-btn inverse font-14" href="/Events/Anniversary"><i class="fa fa-caret-right"></i> MORE INFO</a>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>
</section>

<script src='@Url.Content("~/Content/js/jquery.js")'></script>
<script src='@Url.Content("~/Content/js/bootstrap.min.js")'></script>
<script src='@Url.Content("~/Content/js/revolution.min.js")'></script>
<script src='@Url.Content("~/Content/js/js-collection.js")'></script>
<script src='@Url.Content("~/Content/js/script.js")'></script>