
@{
    ViewBag.Title = "HalfSaree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../Content/images/background/h1.jpg)">
    <div class="auto-container">
        <h1>Our Services</h1>

        <ul class="bread-crumb">
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Services/HalfSaree">Half Saree</a></li>
        </ul>

    </div>

    <!--Go Down Button-->
    <div class="go-down">
        <div class="curve scroll-to-target" data-target="#sidebar-section"><span class="icon fa fa-arrow-down"></span></div>
    </div>

</section>


<!--Desc Box-->
<div class="desc-box">
    <div class="auto-container">
        <div class="sec-title no-underline">
            <h3>WE CARE ABOUT ClIENT</h3>
            <h2>OUR OUTSTANDING SERVICES</h2>
            <p>Pellentesque semper quis neque dictum hendrerit. Sed nulla ipsum, porttitor pharetra tortor in, <br>consequat imperdiet nisi. Phasellus at quam tristique, cursus tellus vitae, convallis neque. </p>
        </div>
    </div>
</div>


<!--Sidebar Section-->
<div class="sidebar-section" id="sidebar-section">

    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="col-md-9 col-sm-8 col-xs-12 pull-right content-side">

                <section class="service-details">
                    <figure class="full-image">
                        <a href="#">
                            <img class="img-responsive" src='@Url.Content("~/Content/images/resource/h2.jpg")' alt="">
                        </a>
                    </figure>
                    <div class="content-outer">
                        <h2>General information</h2>
                        <p>Aenean faucibus in erat hendrerit euismod. Ut quis tristique mauris. Proin risus purus, iaculis a orci ut, cursus bibendum purus. Duis aliquam gravida eros eget molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse pharetra, arcu eu porta aliquet, eros dui tincidunt purus, eu vehicula magna nisl in purus. Praesent vel odio mauris. In et lorem quis felis gravida dictum vitae non diam eget condimentum ante ultrices sed.</p>
                        <p>Etiam vestibulum turpis quis dolor porttitor, vitae venenatis odio vehicula. Mauris iaculis felis sit amet venenatis pellentesque. Vestibulum nec massa in urna venenatis varius. Nam lorem velit, blandit non vehicula nec, placerat sit amet lacus. Nam ac massa sit amet libero pellentesque commodo. Integer in gravida mauris, vitae pretium nisi. Mauris vestibulum quam et sapien maximus</p>
                        <br>

                        <div class="row clearfix">
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <h3>Our Mission &amp; Vision</h3>
                                <p>Nullam auctor rutrum nibh sit amet elementum. In eu dolor ut magna iaculis ornare nec sed nibh. Sed at neque non velit auctor malesuada. Vestibulum fringilla nisl ex, id gravida metus ullamcorper sed. Phasellus vestibulum egestas magna, et tincidunt nunc sollicitudin quis. </p>
                                <p>Vivamus eget nisi eu ex faucibus aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse pharetra nisl in purus sociosqu tincidunt magna.</p>
                            </div>

                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <figure class="image">
                                    <img class="img-responsive" src='@Url.Content("~/Content/images/resource/h3.jpg")' alt="">
                                </figure>
                            </div>
                        </div>
                    </div>

                </section>

                <br>


            </div>

            <!--Sidebar-->
            <div class="col-md-3 col-sm-4 col-xs-12 pull-left">
                <aside class="sidebar">

                    <!--Links Widget-->
                    <div class="widget links-widget">
                        <h3>Our SERVICES</h3>
                        <ul>
                            <li><a href="/Services/Decoration">Stage Decoration</a></li>
                            <li><a href="/Services/Catering">Catering</a></li>

                            <li><a href="/Services/Venues">Function Halls</a></li>
                            <li><a href="/Services/Entertainment">Entertainment</a></li>
                            <li><a href="/Services/Photography">Photography and Video</a></li>
                            <li><a href="/Services/Beautician">Beautician</a></li>
                        </ul>
                    </div>

                    <!--Links Widget-->
                    <div class="widget links-widget">
                        <h3>USEFUL DOCUMENTATION</h3>
                        <ul>
                            <li><a href="/Events/Wedding">Wedding Event</a></li>
                            <li><a href="/Events/Engagement">Engagement</a></li>
                            <li><a href="/Events/HouseWarming">House Warming Event</a></li>
                            <li><a href="/Events/Upanayanam ">Upanayanam </a></li>
                            <li><a href="/Events/HalfSaree">Half Saree Event</a></li>
                            <li><a href="/Events/BirthDay">Birthday party Event</a></li>
                            <li><a href="/Events/Anniversary">Anniversary Event</a></li>

                        </ul>
                    </div>

                </aside>
            </div>

        </div>
    </div>
</div>




<script src='@Url.Content("~/Content/js/jquery.js")'></script>
<script src='@Url.Content("~/Content/js/bootstrap.min.js")'></script>
<script src='@Url.Content("~/Content/js/revolution.min.js")'></script>
<script src='@Url.Content("~/Content/js/js-collection.js")'></script>
<script src='@Url.Content("~/Content/js/script.js")'></script>
