
@{
    ViewBag.Title = "AllService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../Content/images/background/3.jpg)">
    <div class="auto-container">
       
        <ul class="bread-crumb">
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Services/AllService">All Service</a></li>
        </ul>
    </div>

    <!--Go Down Button-->
    <div class="go-down">
        <div class="curve scroll-to-target" data-target="#department-section"><span class="icon fa fa-arrow-down"></span></div>
    </div>

</section>


<!--Featured Three Column-->
<div class="sec-title text-center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="font-sacramento text-thm">Welcome to Srirastu Services </h1>
            <h3>We Imagine What You Desire & We Create What You Need</h3>
            <div class="mb-30 mt-15"> <img class="img-responsive" src='@Url.Content("~/Content/images/title-bottom.png")' alt=""></div>
        </div>
    </div>
</div>
<!--Start Our Department Areas-->
<section class="pt-60">
    <div class="container-fluid pb-35">

        <div class="sec-content mt-50">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/111.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-roses-bouquet"></i>
                            <h4 class="title">Function Hall</h4>
                            <p class="details pt-5">We provide for all events and occasions like Weddings, Birthday Parties, picnic food, corporate events, seminars, workshops etc. We put our full efforts to achieve great taste & aroma in every cuisine we prepare. We use fresh and high quality ingredients.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/222.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-wedding-cake-3"></i>
                            <h4 class="title">Birth Day Cakes Design</h4>
                            <p class="details pt-5">Arrangement from arrival of guests to their departure at the end of the event is taken care of by organizing excellent conveyance services and booking accommodation at the best hotels/guest houses etc that are not only the best in industry but will also suit your pocket.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/333.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-knife-fork-and-plate"></i>
                            <h4 class="title">Catering</h4>
                            <p class="details pt-5">
                                We provide catering for all events and occasions like Weddings, Birthday Parties, picnic food, corporate events, seminars, workshops etc.

                                We put our full efforts to achieve great taste & aroma in every cuisine we prepare. We use fresh and high quality ingredients.
                            </p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/444.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-curtains"></i>
                            <h4 class="title">Decoration</h4>
                            <p class="details pt-5">producing high-quality methods of every type and scale. Our passion is managing behind-the-scenes to deliver a superior event experience for your audience. We thrive on delighting you as valued customer by for all events that meets or exceeds by reaching your goals.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/555.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-wedding-video"></i>
                            <h4 class="title">Photos & Videos</h4>
                            <p class="details pt-5">Our professional photographers take very little time to gel with clients and their close ones. We love to work in an informal and unobtrusive way so that we get the opportunity to click the natural expression and emotions around.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/666.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-balloons-3"></i>
                            <h4 class="title">Entertainmeint</h4>
                            <p class="details pt-5">As per your aspirations and specifications, we organise the Entertainment – from Stars, Singers, Stand-up Comedians, DJ,s, Bartenders, Live Bands, Mehendi Artists, Make-up, Hairstyles, Choreographer, Conveyance, Dance Troupes and Much More.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/777.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-wedding-car"></i>
                            <h4 class="title">Venues and Locations</h4>
                            <p class="details pt-5">Gear up for a holiday of a lifetime. Make every moment of such abandon count. Choose to go on a holy pilgrimage to discover your spiritual self. Or on a holiday spree, to live your wildest dreams…Be it a national or an international destination.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/888.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-wedding-invitation-3"></i>
                            <h4 class="title">Web Site Invitation</h4>
                            <p class="details pt-5">As per your aspirations and specifications, we organise the Entertainment – from Stars, Singers, Stand-up Comedians, DJ,s, Bartenders, Live Bands, Mehendi Artists, Make-up, Hairstyles, Choreographer, Conveyance, Dance Troupes and Much More.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


