
@{
    ViewBag.Title = "Decoration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../Content/images/background/11.jpg)">
    <div class="auto-container">


        <ul class="bread-crumb">
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Services/Decoration">Stage Decoration</a></li>
        </ul>

    </div>

    <!--Go Down Button-->
    <div class="go-down">
        <div class="curve scroll-to-target" data-target="#sidebar-section"><span class="icon fa fa-arrow-down"></span></div>
    </div>

</section>



<!--Sidebar Section-->
<div class="sidebar-section" id="sidebar-section">

    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="col-md-9 col-sm-8 col-xs-12 pull-right content-side">

                <section class="service-details">

                    <div class="carousel slide media-carousel" id="media">
                        <div class="carousel-inner">
                            <div class="item  active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/Events/BirthDay">
                                            <img src='@Url.Content("~/Content/images/resource/eb.jpg")' alt="">
                                            <div class="post-title"><h2><a href="/Events/BirthDay">Birthday</a></h2></div>
                                        </a>

                                    </div>
                                    <div class="col-md-4">
                                        <a href="/Events/BirthDay">
                                            <img src='@Url.Content("~/Content/images/resource/eh.jpg")' alt="">
                                            <div class="post-title"><h2><a href="/Events/HouseWarming">HoseWarming</a></h2></div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/Events/Engagemnet">
                                            <img src='@Url.Content("~/Content/images/resource/blog2.jpg")' alt="">
                                            <div class="post-title"><h2><a href="/Events/Engagemnet">Engagemnet</a></h2></div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/Events/Anniversary">
                                            <img src='@Url.Content("~/Content/images/resource/blog4.jpg")' alt="">
                                            <div class="post-title"><h2><a href="/Events/Anniversary">Anniversary</a></h2></div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/Events/Wedding">
                                            <img src='@Url.Content("~/Content/images/resource/ew.jpg")' alt="">
                                            <div class="post-title"><h2><a href="/Events/Wedding">Wedding</a></h2></div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/Events/Upanayanam">
                                            <img src='@Url.Content("~/Content/images/resource/u4.jpg")' alt="">
                                            <div class="post-title"><h2><a href="/Events/Upanayanam">Upanayanam</a></h2></div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="/Events/Wedding">
                                            <img src='@Url.Content("~/Content/images/resource/blog1.jpg")' alt="">
                                            <div class="post-title"><h2><a href="/Events/Anniversary">Wedding</a></h2></div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/Events/Engagement">
                                            <img src='@Url.Content("~/Content/images/resource/blog2.jpg")' alt="">
                                            <div class="post-title"><h2><a href="/Events/Engagement">Engagement</a></h2></div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="/Events/BirthDay">
                                            <img alt="" src='@Url.Content("~/Content/images/resource/eb.jpg")'>
                                            <div class="post-title"><h2><a href="/Events/BirthDay">Birthday</a></h2></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#media" class="right carousel-control">›</a>
                    </div>

                    <div class="content-outer">
                        <h2>General information</h2>
                        <p>
                            A wedding day is one of the most special and exciting occasions in one’s life; and one strives to make it a memorable event, from start to finish. Srirastu Decorator will help you make this day special by making your dream wedding come true – that is our motto.

                            Our team with their unique ideas can create for you a theme which combines both traditional and contemporary decor designs for all occasions and locations  from Mandapam  Entrance Gate to Car Decoration. We have Designers, Wedding planners Coordinators, Drapers, Skilled Craftsmen, Carpenters, Painters, Welders,  Artists, Florists,  Light Equipment and Technicians who have decades of experience in this.

                        </p><br>

                        <div class="row clearfix">
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <h3>Our Mission and Vision</h3>
                                <p>
                                    One can transform your party areas with awesome theme party with Srirastu Event Management.

                                    Our theme events play a vital role in creating celebrations consisting of hanging decorations and fun costume accessories for your guests.
                                </p>
                                <div class="more-link"><a href="/Services/DetailedServices" class="read-more"><span class="fa fa-caret-right"></span> View All Services </a></div>

                            </div>

                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <figure class="image">
                                    <img class="img-responsive" src='@Url.Content("~/Content/images/resource/1.jpg")' alt="">
                                </figure>
                            </div>
                        </div>
                    </div>

                </section>

                <br>


            </div>

            <!--Sidebar-->
            <div class="col-md-3 col-sm-4 col-xs-12 pull-left">
                <aside class="sidebar">

                    <!--Links Widget-->
                    <div class="widget links-widget">
                        <h3>Our SERVICES</h3>
                        <ul>
                            <li><a href="/Services/Decoration">Stage Decoration</a></li>
                            <li><a href="/Services/Catering">Catering</a></li>

                            <li><a href="/Services/Venues">Function Halls</a></li>
                            <li><a href="/Services/Entertainment">Entertainment</a></li>
                            <li><a href="/Services/Photography">Photography and Video</a></li>
                            <li><a href="/Services/Beautician">Beautician</a></li>
                        </ul>
                    </div>

                    <!--Links Widget-->
                    <div class="widget links-widget">
                        <h3>USEFUL DOCUMENTATION</h3>
                        <ul>
                            <li><a href="/Events/Wedding">Wedding Event</a></li>
                            <li><a href="/Events/Engagement">Engagement</a></li>
                            <li><a href="/Events/HouseWarming">House Warming Event</a></li>
                            <li><a href="/Events/Upanayanam ">Upanayanam </a></li>
                            <li><a href="/Events/HalfSaree">Half Saree Event</a></li>
                            <li><a href="/Events/BirthDay">Birthday party Event</a></li>
                            <li><a href="/Events/Anniversary">Anniversary Event</a></li>

                        </ul>
                    </div>

                </aside>
            </div>

        </div>
    </div>
</div>

<section class="pt-60">
    <div class="container-fluid pb-35">
        <div class="sec-title text-center">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="font-sacramento text-thm">OUR SERVICE</h2>
                    <p>As Event Organizers, our services include offered both collectively and as separate units that a client can pick and choose from.</p>
                    <div class="mb-30 mt-15"> <img class="img-responsive" src='@Url.Content("~/Content/images/title-bottom.png")' alt=""></div>
                </div>
            </div>
        </div>
        <div class="sec-content mt-50">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/111.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-roses-bouquet"></i>
                            <h4 class="title">Function Hall</h4>
                            <p class="details pt-5">We provide for all events and occasions like Weddings, Birthday Parties, picnic food, corporate events, seminars, workshops etc. We put our full efforts to achieve great taste & aroma in every cuisine we prepare. We use fresh and high quality ingredients.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/222.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-wedding-cake-3"></i>
                            <h4 class="title">Birth Day Cakes Design</h4>
                            <p class="details pt-5">Arrangement from arrival of guests to their departure at the end of the event is taken care of by organizing excellent conveyance services and booking accommodation at the best hotels/guest houses etc that are not only the best in industry but will also suit your pocket.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/333.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-knife-fork-and-plate"></i>
                            <h4 class="title">Catering</h4>
                            <p class="details pt-5">
                                We provide catering for all events and occasions like Weddings, Birthday Parties, picnic food, corporate events, seminars, workshops etc.

                                We put our full efforts to achieve great taste & aroma in every cuisine we prepare. We use fresh and high quality ingredients.
                            </p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/444.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-curtains"></i>
                            <h4 class="title">Decoration</h4>
                            <p class="details pt-5">producing high-quality methods of every type and scale. Our passion is managing behind-the-scenes to deliver a superior event experience for your audience. We thrive on delighting you as valued customer by for all events that meets or exceeds by reaching your goals.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/555.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-wedding-video"></i>
                            <h4 class="title">Photos & Videos</h4>
                            <p class="details pt-5">Our professional photographers take very little time to gel with clients and their close ones. We love to work in an informal and unobtrusive way so that we get the opportunity to click the natural expression and emotions around.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/666.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-balloons-3"></i>
                            <h4 class="title">Entertainmeint</h4>
                            <p class="details pt-5">As per your aspirations and specifications, we organise the Entertainment – from Stars, Singers, Stand-up Comedians, DJ,s, Bartenders, Live Bands, Mehendi Artists, Make-up, Hairstyles, Choreographer, Conveyance, Dance Troupes and Much More.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/777.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-wedding-car"></i>
                            <h4 class="title">Venues and Locations</h4>
                            <p class="details pt-5">Gear up for a holiday of a lifetime. Make every moment of such abandon count. Choose to go on a holy pilgrimage to discover your spiritual self. Or on a holiday spree, to live your wildest dreams…Be it a national or an international destination.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="department">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth" src='@Url.Content("~/Content/images/resource/888.jpg")' alt="">
                        </div>
                        <div class="department-details">
                            <div class="round-style"></div>
                            <i class="icon flaticon-wedding-invitation-3"></i>
                            <h4 class="title">Web Site Invitation</h4>
                            <p class="details pt-5">As per your aspirations and specifications, we organise the Entertainment – from Stars, Singers, Stand-up Comedians, DJ,s, Bartenders, Live Bands, Mehendi Artists, Make-up, Hairstyles, Choreographer, Conveyance, Dance Troupes and Much More.</p>
                            <a href="/Services/DetailedServices" class="thm-btn btn-xs mr-5"><i class="fa fa-angle-double-right"></i> Read More</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src='@Url.Content("~/Content/js/jquery.js")'></script>
<script src='@Url.Content("~/Content/js/bootstrap.min.js")'></script>
<script src='@Url.Content("~/Content/js/revolution.min.js")'></script>
<script src='@Url.Content("~/Content/js/js-collection.js")'></script>
<script src='@Url.Content("~/Content/js/script.js")'></script>
